.experience li:hover,
.secondary-info section:hover, 
.secondary-info li:hover{
    background-color: rgba(167, 175, 201, 0.3);
    border-radius: 10px;
    border: blue;
    text-indent: 5px;
}
.experience li{
    margin-top: 10px;
    padding: 10px;
}
.avatar-wrapper::after{
    content: ' ';
    display: block;
    width: 200px;
    height: 120px;
    position: absolute;
    bottom: 60px;
    background: url('https://cdn.britannica.com/79/4479-050-6EF87027/flag-Stars-and-Stripes-May-1-1795.jpg') no-repeat center;
    background-size: cover;
    animation-name: rotate;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes rotate{
    100% { transform: rotate(180deg) scale(1.3); }
}
@keyframes opacity{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.avatar-wrapper::before{
    content: ' ';
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 330px;
    background: url('./imgonline-com-ua-Transparent-backgr-PAQfYYbW8D.png') no-repeat center;
    background-size: cover;
    animation-name: opacity;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 10;
}
.title h2:hover{
    color: red;
    transition: 2s;
}
.title p:hover b{ 
    color: white;
    transition: 2s;
}